.header {
  display: flex;
  align-items: center;
  justify-items: start;
  padding: 0.5rem;
  background-color: #b7b7b7;
}

.logoImage {
  border-radius: 50%;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.headerName {
  font-size: 25px;
  padding-right: 0.5rem;
  margin: 0.5rem;
}

.topicDropdown {
  padding-right: 0.5rem;
}

.userSelect {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  margin-right: 1rem;
}

.loggedInUser {
  margin-left: auto;
  padding: 1rem;
}

.userDropdown {
  justify-self: flex-start;
}

@media only screen and (max-width: 615px) {
  .headerName {
    display: none;
  }
}

/* @media only screen and (max-width: 485px) {
  .header {
    flex-wrap: wrap;
  }
} */
