.header {
  display: flex;
  align-items: center;
  justify-items: start;
  padding: 0.5rem;
  background-color: #b7b7b7;
}

.logoImage {
  border-radius: 50%;
  height: 3rem;
  padding: 0.5rem;
}

.headerName {
  font-size: 25px;
  padding-right: 0.5rem;
}

.topicDropdown {
  padding-right: 0.5rem;
}

.userSelect {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.loggedInUser {
  margin-left: auto;
  padding: 1rem;
}

.userDropdown {
  justify-self: flex-start;
}
