.App {
  display: grid;
  text-align: center;
}

.App-header {
  border: 5px solid #282c34;
  display: grid;
  gap: 10px;
  grid-template-columns: 5% 15% 10% 1fr;
  align-items: center;
  justify-items: start;
  font-size: 15px;
}

.App-header-logo-image {
  border: 2px solid #282c34;
  border-radius: 50%;
  height: 3rem;
}
